architecture-generated.drawio
architecture.drawio
architecture.mmd
architecture.png
arsitektur diagram infralksn2026.png
final.png
LKS_Nasional_2026_Cloud_Computing.
tasklks.docx
tasklks.md
README.md
.vscode/
